<header class="lander">
	<h1>
    The Ryda App
  </h1>
	<p>...Epic rides with Friends...</p>
	<% if user_signed_in? %>
		<%= link_to('View Available Rides', offers_all_path, :class => "login") %>
	<%else%>
		<a href="<%=welcome_login_path%>" class="login">
	    Sign in to your account
	  </a>
	<%end%>
</header>
