<header class="lander">
	<h1>
    The Ryda App
    <img class="tyre-img" src="https://res.cloudinary.com/dgbmeqmyf/image/upload/v1559171876/Realistic_wheel.jpg" alt="">
  </h1>
	<p>...Epic rides with Friends...</p>
	<button class="login">
    <span>Sign in with Google</span>
  </button>
</header>
