<div class="new-request-wrapper">
  <h1 class="text-center requests-table-header">Completed Offers</h1>
  <hr>
  <div class="table-div">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Origin</th>
          <th>Destination</th>
          <th>Status</th>
          <th>Details</th>
        </tr>
      </thead>

      <tbody>
        <% if @completed_offers.length === 0 %>
          <h6 class="no-booked-ride text-center">
            You have no completed Offer yet
          </h6>
        <% else %>
          <% @completed_offers.each do |offer| %>
            <tr>
              <td><%= offer.origin %></td>
              <td><%= offer.destination %></td>
              <td><%= offer.status %></td>
              <td>
                <%= link_to offer, class: "btn btn-success btn-margin" do %>
                  <i class="fa fa-info"></i>
                <% end %>
              </td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
