/*
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans|Ranga|Roboto+Mono&display=swap');

 * {
   margin: 0;
   padding: 0;
 }


 body {
   margin: 0;
   line-height: 1.6;
   background: #fafbfb;
 }

.my-navbar {
  box-shadow: 0 5px 6px 1px #31353D;
}

.ryda-brand {
  font-size: 1.5rem;
  font-family: 'Ranga', cursive;
  font-weight: bold;
  color: #ce0058 !important;
}

.brand-tyre {
  width: 1.7rem;
  border-radius: 50px;
}

.footer-class {
  width: 100%;
  background-color: #fff;
  color: #000;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  font-size: 1.2rem;
  font-family: 'Ranga', cursive;
}

.profile-image {
  width: 2.2rem;
  border-radius: 50px;
}

.style-margin {
  margin-left: 1rem;
}

.dropdown-nav-link {
  text-decoration: none;
  width: 15rem !important;
  color: #ce0058 !important;
}

.dropdown-nav-link-color {
  color: #ce0058 !important;
}

.profile-dropdown-nav-link {
  text-decoration: none;
}

.dropdown-nav-link:hover {
  background-color: #ce0058;
  color: #fff !important;
}

.dropdown-nav-link-color:hover {
  background-color: #ce0058;
  color: #fff !important;
}

.profile-dropdown-nav-link:hover {
  background-color: #ccc;
}

.toggle-dropdown {
  text-decoration: none;
  font-weight: bold;
  color: #ce0058;
}

.menu-dropdown-div {
  margin-right: -1200px !important;
  text-align: center;
}
