/*
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Ranga&display=swap');

 * {
   margin: 0;
   padding: 0;
 }


 body {
   margin: 0;
   line-height: 1.6;
 }

.my-navbar {
  box-shadow: 0 20px 6px 1px #31353D;
}

.ryda-brand {
  font-size: 1.5rem;
  font-family: 'Ranga', cursive;
}

.brand-tyre {
  width: 1.7rem;
  border-radius: 50px;
}

.footer-class {
  width: 100%;
  background-color: #fff;
  color: #000;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  font-size: 1.2rem;
  font-family: 'Ranga', cursive;
}
